.topic {
  text-decoration: none;
}

.profile {
  display: flex;
  position: absolute;
  right: 30px;
  margin: 12px;
}

.userName {
  color: black;
}

.appBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Make sure the navbar is above other elements */
}
